<div class="endorsement-container">
  <% endorsements.each do |skill, count| %>
    <span id="endorsement-form-<%= skill.id %>">
      <% if note.user_endorsements.find_by(skill: skill, endorser: current_user).present? %>
        <%= render partial: 'notes/endorsed', locals: {note: note, skill: skill, current_user: current_user, count: count} %>
      <% else %>
        <%= render partial: 'notes/endorse', locals: {note: note, skill: skill, current_user: current_user, count: count} %>
      <% end %>
    </span>
  <% end %>
</div>