<% if @note.user == current_user  %>
  <%= link_to 'Edit', edit_note_path(@note),
                method: :get,
                class: 'btn btn-primary' %>
  <%= link_to 'Delete', note_path(@note),
                method: :delete,
                class: 'btn btn-danger note-delete-btn',
                data: { confirm: 'This is non-reversible. Are you sure?'} %>
<% end %>

<div class="endorsement-container">
  <% @endorsements.each do |skill, count| %>
  <div>
    <%= skill.name %>
    <%= count %>
  </div>
  <% end %>
</div>