<div class="container">
  <div class="row mt-5 mb-3">
    <h1 class="note-title col"><%= @note.title.titleize %></h1>
    <% if @note.user == current_user %>
      <%= button_to 'Edit', edit_note_path(@note),
                    method: :get,
                    class: 'btn btn-primary col' %>
      <%= button_to 'Delete', note_path(@note),
                    method: :delete,
                    class: 'btn btn-danger note-delete-btn mx-2',
                    data: { confirm: 'This is non-reversible. Are you sure?'} %>
    <% end %>
    <br>
  </div>

  <div>
    <%= markdown @note.body %>
  </div>
</div>

