<%= link_to "/notes/#{note.slug}", class: 'mt-2 col-sm note-col' do %>
  <div class="note-card pt-3 px-3 note-card-no-image">
    <div class="card-title mb-1">
      <b><%= note.title %></b>
      <% if note.is_private %><span class="badge badge-dark">Private</span><% end %>
    </div>
    <div class="card-block mb-4">
      <i><%= note.subtitle %></i>
    </div>
    <div class="note-card-body">
       <%= markdown note.body %>
    </div>
  </div>
<% end %>