<%= link_to "/notes/#{note.slug}" do %>
  <div class="card note-card my-3 p-3">
    <% unless note.image_url.blank? %>
      <div class="image-header-preview" style="background-image: url('<%= note.image_url %>');"></div>
    <% end %>
    <div class="card-title">
      <b><%= note.title %></b>
      <% if note.is_private %><span class="badge badge-dark">Private</span><% end %>
    </div>
    <div class="card-block">
      <p class="card-text"><%= note.subtitle %></p>
    </div>
  </div>
<% end %>