<p id="notice"><%= notice %></p>
<%= "#{@endorsement.endorsee.email} was endorsed by #{@endorsement.endorser.email}" %>

<%= link_to 'Edit', edit_endorsement_path(@endorsement) %> |
<%= link_to 'Back', endorsements_path %>
