/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require selectize
 *= require selectize.default
 *= require prism
 */
/* Other Imports */

@import "font-awesome-sprockets";
@import "font-awesome";

/* end */

$blue: #2065e5;
$secondary-yellow: #DF9A1A;
$primary-font-blue: #4c83ea;
$white: #ffffff;
$gray-background: #d7ddea;
$light-gray-background: #ebecec;
$font-color: #000000;
$dark: #343a40;

$danger: #d9534f;
$alert: #5bc0de;
$success: #5cb85c;

$topnav-height: 60px;
$topnav-width: 100vw;
$topnav-font-size: 2.5em;

$theme-colors: (
  primary: $blue,
);

$breakpoint-desktop: 768px;
$breakpoint-tablet: 480px;
$breakpoint-mobile: 320px;

/* bootstrap must be imported AFTER declaring custom variables */
@import "bootstrap";
@import 'notes';
@import 'rails_bootstrap_forms';

.topnav {
  background-color: $blue;
  width: $topnav-width;
  height: $topnav-height;
  position: relative;
  z-index: 2;
}

.topnav-item {
  height: $topnav-height*(2/3);
}

.topnav > div {
  display: inline-block;
}

.topnav .topnav-left {
  height: $topnav-height;
  width: $topnav-width/2;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topnav .topnav-right {
  height: $topnav-height;
  width: $topnav-width/2;
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topnav .topnav-right .topnav-item {
  margin-right: 16px;
}

#navbar-logo {
  font-family: "Uni Sans";
  color: $white;
  font-size: $topnav-font-size;
  margin-left: 8px;
}

.topnav-right .topnav-item {
  display: inline-block;
}

.icon {
  font-size: $topnav-font-size;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .topnav .icon {display: none;}
}

@media screen and (max-width: 600px) {
  .topnav-right .topnav-item {display: none;}
  .topnav-right .icon {
    display: block;
  }
  .topnav.responsive {
    position: relative;
    height: auto;
  }
  .icon {
    position: absolute;
    right: 16px;
    top: 8px;
    z-index: 2
  }
  .topnav.responsive .topnav-item {
    float: none;
    display: block;
    text-align: left;
    margin: 8px;
  }
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  z-index: 1;
}

/* ============================================== Fonts ============================================ */

@font-face {
  font-family: 'Uni Sans';
  src: asset-url('fonts/Uni-Sans-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: asset-url('fonts/Whitney-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

/* ====================================== Bootstrap Overrides ====================================== */

.row {
  /* to fix horizontal scroll bar showing up when using .row */
  margin-left: 0px;
  margin-right: 0px;
}

.btn-lg.round {
  border-radius: 24px;
}

.btn-lg.outline {
  background: none;
}

.btn.outline {
  background: none;
}

.btn-primary {
  color: $white;
}

.btn-primary.outline {
  border: 1px solid $blue;
  color: $blue;
}

.btn-primary.outline:hover {
  background-color: $white;
  color: $blue;
}

#sign-in-out-btn {
  border: 1px solid $white;
  color: $white;
  padding: 4px;
}

#sign-in-out-btn:hover {
  color: $blue;
}

#sign-in-out-btn-home {
  border: 1px solid $primary;
  color: $primary;
  padding: 4px;
}

#sign-in-out-btn-home:hover {
  color: $white;
  background-color: $blue;
}

.input-group-btn button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ========================================================================================== */

#alert {
  width: 100%;
  text-align: center;
  background-color: $danger;
  color: $white;
  height: 3em;
  padding-top: .7em;
  -moz-animation: cssAnimation .25s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation .25s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation .25s ease-in 2s;
  /* Opera */
  animation: cssAnimation .25s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#notice {
  width: 100%;
  text-align: center;
  background-color: $success;
  color: $white;
  height: 3em;
  padding-top: .7em;
  -moz-animation: cssAnimation .25s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation .25s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation .25s ease-in 2s;
  /* Opera */
  animation: cssAnimation .25s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    height:0;
    padding-top: 0;
    display: none;
    position: relative;
    left: -9999px;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    height:0;
    padding-top: 0;
    display: none;
    position: relative;
    left: -9999px;

  }
}

.centered {
  width: 100%;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  color: $gray-700
}

a, a:visited {
  text-decoration: none;
}

.btn {
  color: $white;
}

.selected, .selected:hover {
  color: $font-color;
}

a:hover {
  background-color: transparent;
  color: darken($primary-font-blue, 30%);
  text-decoration: none;
}

.destroy {
  color: $red
}

.destroy:visited {
  color: $red
}

a:hover {
  cursor: pointer;
}

.table-links .user-row:hover {
  cursor: pointer;
  background-color: darken($white, 5%);
}

.list-no-padding {
  padding: 0;
  margin: 0;
}

.list-no-padding li {
  padding-top: 0;
}

.sr {
  font-family: 'Uni Sans';
  color: $primary;
}

#dev-primary {
  font-family: 'Uni Sans';
}

#sr-secondary {
  font-family: 'Uni Sans';
  color: $dark;
}

.txt-primary {
  color: $primary;
}

.txt-primary-font {
  color: $primary-font-blue;
}

.txt-heading {
  font-family: "Uni Sans";
  font-weight: lighter !important;
}

@media (min-width: $breakpoint-tablet) {
  .txt-heading {
    font-size: 4em;
  }

  .centered-image {
    width: 60%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .txt-heading {
    font-size: xx-large;
  }

  .centered-image {
    width: 100%;
  }
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}