/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require selectize
 *= require selectize.default
 */
/* Other Imports */

@import "font-awesome-sprockets";
@import "font-awesome";

/* end */

$blue: #2065e5;
$secondary-yellow: #DF9A1A;
$primary-font-blue: #4c83ea;
$gray-background: #d7ddea;
$light-gray-background: #ebecec;
$font-color: #000000;

$danger: #d9534f;
$alert: #5bc0de;
$success: #5cb85c;

$theme-colors: (
  primary: $blue
);

$breakpoint-desktop: 768px;
$breakpoint-tablet: 480px;
$breakpoint-mobile: 320px;

/* bootstrap must be imported AFTER declaring custom variables */
@import "bootstrap";
@import 'notes';
@import 'rails_bootstrap_forms';

/* ============================================== Fonts ============================================ */

@font-face {
  font-family: 'Uni Sans';
  src: asset-url('fonts/Uni-Sans-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: asset-url('fonts/Whitney-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ====================================== Bootstrap Overrides ====================================== */

.navbar a:hover {
  text-decoration: none;
}

.btn-lg.round {
  border-radius: 24px;
}

.btn-lg.outline {
  background: none;
}

.btn.outline {
  background: none;
}

.btn-primary {
  color: $white !important; /* Important necessary to override Bootstrap */
}

.btn-primary.outline {
  border: 1px solid $blue;
  color: $blue !important; /* Important necessary to override .btn-primary override */
}

.btn-primary.outline:hover {
  background-color: $white;
  color: $blue !important;
}

/* Don't touch these unless you want a headache */
.navbar a {
  color: $white !important; /* Important necessary to override Bootstrap */
}

.nav-item .nav-link:hover {
  color: $white !important; /* Important necessary to override Bootstrap */
  font-weight: 400;
}

#sign-in-out-btn {
  border: 1px solid $white;
  color: $white !important; /* Important necessary to override Bootstrap */
  padding: 4px;
}

#sign-in-out-btn:hover {
  color: $blue !important; /* Important necessary to override Bootstrap */
}

.input-group-btn button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ========================================================================================== */

//body {
//  font-family: "Whitney";
//}
//
//h1, h2, h3, h4, h5, h6 {
//  font-family: "Whitney";
//  font-weight: bold;
//}
//
//p {
//  font-family: "Whitney";
//}

#navbar-logo {
  font-family: "Uni Sans";
  color: $white;
  font-size: 2.5em;
  padding-top: .2em;
}

#alert {
  width: 100%;
  text-align: center;
  background-color: $danger;
  color: $white;
  height: 3em;
  padding-top: .7em;
  -moz-animation: cssAnimation .25s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation .25s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation .25s ease-in 2s;
  /* Opera */
  animation: cssAnimation .25s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#notice {
  width: 100%;
  text-align: center;
  background-color: $success;
  color: $white;
  height: 3em;
  padding-top: .7em;
  -moz-animation: cssAnimation .25s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation .25s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation .25s ease-in 2s;
  /* Opera */
  animation: cssAnimation .25s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    height:0;
    padding-top: 0;
    display: none;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    height:0;
    padding-top: 0;
    display: none;
  }
}

.centered {
  width: 100%;
  text-align: center;
}

@media (min-width: $breakpoint-desktop) {

  .nav-float-right {
    margin-left: auto !important;
  }

}

h2, h3, h4, h5, h6 {
  color: $gray-700
}

a, a:visited {
  color: $primary-font-blue;
  text-decoration: none;
}

.selected, .selected:hover {
  color: $font-color;
}

a:hover {
  background-color: transparent;
  color: darken($primary-font-blue, 30%);
  text-decoration: none;
}

body {
  background-color: $white;
}

pre {
  background-color: $light-gray-background;
  padding: 1em;
}

.destroy {
  color: $red
}

.destroy:visited {
  color: $red
}

a:hover {
  cursor: pointer;
}

p {
  font-size: medium;
}

ul {
  padding-left: 0;
  font-size: .9em;
}

ul li {
  padding-top: .5em;
}