// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #2065e5;
$secondary-yellow: #DF9A1A;
$primary-font-blue: #4c83ea;
$white: #ffffff;
$gray-background: #d7ddea;
$light-gray-background: #ebecec;
$font-color: #000000;
$dark: #343a40;

$danger: #d9534f;
$alert: #5bc0de;
$success: #5cb85c;

$breakpoint-desktop: 768px;
$breakpoint-tablet: 480px;
$breakpoint-mobile: 320px;

.jumbotron-home {
  background-color: $dark;
  color: $white;
  height: 100vh;
}

.jumbotron-home h1 {
  font-family: "Uni Sans";
  font-size: 4em;
}

.jumbotron-home h2 {
  color: $blue;
}

#interchangable {
  color: $blue;
}

.valign-up {
  margin-bottom:10%;
  margin-top: 0;
}

.footer {
  background-color: $dark;
  color: $white;
  font-weight: lighter;
}

@media (max-width: $breakpoint-tablet) {
  // styles for non-desktop browsers
  .jumbotron-home h1 {
    font-size: xx-large;
  }

  .valign-up {
    margin-bottom: 0;
    margin-top: 10%;
  }

  .sign-up-header {
    font-size: large;
  }
}

@media (min-width: $breakpoint-tablet) {
}


