// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #2065e5;
$secondary-yellow: #DF9A1A;
$primary-font-blue: #4c83ea;
$white: #ffffff;
$gray-background: #d7ddea;
$light-gray-background: #ebecec;
$font-color: #000000;
$dark: #343a40;

$danger: #d9534f;
$alert: #5bc0de;
$success: #5cb85c;

$breakpoint-desktop: 768px;
$breakpoint-tablet: 480px;
$breakpoint-mobile: 320px;

.jumbotron-home {
  background-color: $dark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.jumbotron-home h1 {
  font-family: "Uni Sans";
  font-size: 4em;
  color: $blue;
}

.jumbotron-home h3 {
  color: #fff;
  font-weight: lighter;
}

.jumbotron-home div {
  position: absolute;
}

.jumbotron-home h2 {
  color: $blue;
}

#interchangable {
  font-family: 'Uni Sans';
  color: $blue;
}

.footer {
  color: $white;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
}

#sign-up-button {
  padding: 4px;
  margin-left: 12px;
}

#sign-up-button-main {
  font-size: 1.5em;
  padding: .5em;
}

@media (max-width: $breakpoint-tablet) {
  // styles for non-desktop browsers
  .jumbotron-home h1 {
    font-size: xx-large;
  }
}

@media (min-width: $breakpoint-tablet) {
}


