// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #2065e5;
$secondary-yellow: #FD9A1A;
$breakpoint-tablet: 480px;

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

.note-form textarea, .note-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.note-form textarea {
  height: 500px;
}

.note-form input[type=text] {
  height: 30px;
}

#undo-upvote-btn {
  background-color: $secondary-yellow;
  border: none;
}

.note-new-body textarea{
  font-family: 'Ubuntu Mono', monospace;
}

#upvote-counter {
  
}

@media (max-width: $breakpoint-tablet) {
  .note-title {
    font-size: 2em;
  }
}

@media (min-width: $breakpoint-tablet) {
  .note-title {
    display: inline-block;
    max-width: 40rem;
  }
}