<span>
  <%= form_tag(users_path, :method => 'get', id: 'search-form') do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search],
        id: 'search-input',
        placeholder: 'Search users',
        class: 'form-control',
        autocomplete: 'off',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'false' %>
      <div class="input-group-btn">
        <%= button_tag :type => 'submit', :name => nil, class: 'btn btn-secondary', id: 'search-submit' do %>
          <%= icon('search') %>
        <% end %>
      </div>
    </div>
  <% end %>
</span>