<nav class="navbar navbar-dark bg-primary">
  <ul class="navbar-nav nav-float-left">
    <%= link_to root_path do %>
      <li class="nav-item" id="navbar-logo">DEVSR</li>
    <% end %>
  </ul>
  <ul class="navbar-nav nav-float-right">
    <li class="nav-item">
      <% unless user_signed_in?  %>
        <% unless params[:controller].eql?('devise/sessions') && params[:action].eql?('new') %>
          <button type="button" class="btn btn-primary round outline nav-link" id="sign-in-out-btn" data-toggle="modal" data-target="#login-modal">Log In</button>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, class: 'btn btn-primary round outline nav-link', id: 'sign-in-out-btn', :method => :delete %>
      <% end %>
    </li>
  </ul>
</nav>
